// cnsicons Variables
// --------------------------

$cnsicons-font-path: "../fonts" !default;
$cnsicons-font-family: "CNSIcons" !default;
$cnsicons-version: "1.0" !default;
$cnsicons-prefix: cnsi- !default;

$cnsicon-var-NEEDL: "\f145";
$cnsicon-var-calendar-square: "\f138";
$cnsicon-var-phone-square: "\f13b";
$cnsicon-var-state: "\f13c";